* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

.p-text-family{
  font-family: "Inter", sans-serif;
}


.section-heading{
  font-size: 3.123rem;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
}
h3>span{
  color: #E95A08;
}

.section-paragraph{
  font-size: 1.375rem;
  font-weight: 200;
  text-align: center;
  margin-top: 3rem;


}


.card-area{
  border: 2px solid red;
  width: 1920px;
  height: 62.5rem;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.card-box{
  border: 2px solid black;
  padding: 1px;
  margin: px;
  width: 16.85rem;
  height: 30.30rem;
  align-items: center;
  text-align: center;
  /* gap: 10px; */

}